.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.work {
    display: flex;
    justify-content: center;
}

.workElement h5 {
    margin-left: 3vw;
    margin-right: 3vw;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20vw;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
}

.entries {
    background-color: lightgreen;
}
